<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.china.HealthHut.appmapper.AppRegisterMapper">

	<!-- 添加挂号记录 -->
	<insert id="addRegister" parameterType="Register">
		INSERT INTO
		register (disease_time, symptom_type, see_date, id_no, st_number, name, age, sex, telephone, isstudent, first_further, register_fee)
		VALUES (${disease_time},${symptom_type},${see_date},${id_no},${st_number},${name},${age},${sex},${telephone},${isstudent},${first_further},${register_fee})
	</insert>

</mapper>