<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.china.HealthHut.mapper.WorkersMapper">

	<!-- 分页查询工作人员 -->
	<select id="findWorkersList" resultType="Workers">
		select * from workers;
	</select>
	
	<!-- 查询所有工作人员 -->
	<select id="findWorkersAll" resultType="Workers">
		select * from workers;
	</select>
	
	<!-- 根据id查询工作人员 -->
	<select id="getWorkersById"  parameterType="String" resultType="Workers" >
		select * from workers where workers_id = #{id}
	</select>
	
	<!-- 更新工作人员信息 -->
	<update id="update" parameterType="Workers">
		update workers set name = #{name}, sex = #{sex}, birth = #{birth}, position = #{position},
		title = #{title}, work_date = #{work_date}, telephone = #{telephone}<!-- , dimission_date = #{dimission_date} -->
		where workers_id = #{workers_id}
	</update>
	
	<!-- 删除工作人员 -->
	<delete id="deleteWorkers" parameterType="String">
		delete from workers
		where workers_id=#{id}
	</delete>

	<!-- 添加工作人员 -->
	<insert id="createWorkers" parameterType="Workers">
		insert into
		workers(workers_id
		, name
		, sex
		, birth
		,position
		, work_date
		, telephone
		, dimission_date)
		value(#{workers_id},#{name},#{sex},#{birth},#{position},#{work_date},#{telephone},#{dimission_date})
	</insert>
	
</mapper>